
.nav-logo{
    height: 40px;
    
}
 .wait {
   
   color: white;
   font-size: 17px;
   
 }

 .name-namiri{
  span{
    font-size: 13px;
  }
 }

 .wait{
  font-size: 15px;
 }
 

@media (max-width: 1024px){

    .nav-wrapper{

        background:#0a241c;
        position:fixed;  
        top:0px;
        left:0px;
        height:100vh;
        width:100%;
        transition : 1s ;
        transform : translateY(-100vh);
        
        .main-wrapper{
            .nav-text{
              margin-top:10px;
            }
        }

        .menu-cont{
          height:60vh;
        
        }

    }

    .change{
      transform: none;
    }

}
