.tT{
    font-family: "Adieu";
    font-size: 50px;
}

.sectionTT{
    font-family: "Neue-bold";
    font-size: 30px ;
    padding: 5px 15px 2px  2px ;
}

.menuList{
    font-family: "Neue-regular" ;
    font-weight: 500;
    margin: 20px 0px ;
}

.paragraph{
    font-family: "Neue-regular" ;
    font-weight: 500;
    font-size: 17px;
}