body{
    background-color: #081c16 ;
}

/* p{
    font-family: "Kaftan"; 
} */

.reign-banner{
    
    height: 600px;
    width: auto;
}

@media (max-width: 480px){
    .reign-banner {
        height:250px;
        width: auto;
    }
   
  }